# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
env.bak/
venv.bak/

# Pipenv, Poetry, and other virtual environment tools
*.venv
.pipenv
.poetry
Pipfile.lock
poetry.lock

# MyPy cache
.mypy_cache/

# Pytest cache
.pytest_cache/




